/.AHS 2023 National PUF v1.0 CSV.zip.icloud
/.DS_Store
/.ipynb_checkpoints
/Global and U.S. Homelessness Data.png
/NA.homeless pop.csv
/NA.increase of homeless per state.csv
/Screenshot 2024-12-13 at 8.08.56 PM.png
/average-income-by-state-2024.csv
/average-rent-by-state-2024.csv
/change.png
/comparison.png
/countryvsstate.png
/demographic characteristics for occupied households.csv
/homeless_race.csv
/homelessness by state.csv
/income.png
/increase of homeless per state - increase of homeless per state.csv
/population estimates - Sheet1.csv
/race.png
/tax.png
/top5.png